{% extends 'base.html' %}
{% load static %}
{% block title %}Cakes{% endblock title %}
{% block product %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.1.2/tailwind.min.css" integrity="sha512-RntatPOhEcQEA81gC/esYoCkGkL7AYV7TeTPoU+R9zE44/yWxVvLIBfBSaMu78rhoDd73ZeRHXRJN5+aPEK53Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<body>
<section id="product_sec">
  <h1 class="pr-txt2">Search Your Favrouite One &#128522;</h1>
    <div class = 'search-box'>
      <input class = "search-text" id="searchtxt" type="text" placeholder = "Search Here">
    <a href="#" class = "search-btn">
      <i class="fas fa-search"></i>
    </a> 
  </div>
</section>
<section class="product_sec1">
  <h1 class="text-center pr-txt" >Our Products</h1>
     <div class="row">
    {% for Cake in cake %}
        <div class="card my-2 mx-3" style="width: 18rem;">
        <img class="card-img-top" src="/media/{{Cake.image}}" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title" id="tagpr{{Cake.id}}">{{Cake.name}}</h4>
            <h5 class="card-title"> &#x20B9; <span id="pricepr{{Cake.id}}">{{Cake.price}}</span></h5>
            <p class="card-text" style="text-transform:lowercase;">{{Cake.desc}}</p>
            <span id="divpr{{Cake.id}}" class="divpr">
            <button id="pr{{Cake.id}}" class="btn btn-primary cart">Add to cart</button>
            </span>
        </div>
        </div>
        {% endfor %}
    </div>
</section>
{% block script %}
<script>
  // find out the cart in local storage
  if (localStorage.getItem("cart") == null) {
    var cart = {};
  } else {
    cart = JSON.parse(localStorage.getItem('cart'));
    updateCart(cart);
  }
  // if cart button click add item
  // $(".cart").click(function () {
    $('.divpr').on('click', 'button.cart',function(){
    var idstr = this.id.toString();
    if (cart[idstr] != undefined) {
      qty = cart[idstr][0] + 1;
    } else {
      qty = 1;
      product_name = document.getElementById('tag'+idstr).innerHTML;
      price = document.getElementById('price'+idstr).innerHTML;
      cart[idstr] = [qty, product_name, parseInt(price)];
    }
    localStorage.setItem("cart", JSON.stringify(cart));
    document.getElementById("cart").innerHTML = Object.keys(cart).length;
    updateCart(cart);
  });

  function updateCart(cart) {
      var sum = 0;
    for (var item in cart) {
        sum = sum + cart[item][0];
      document.getElementById("div" + item).innerHTML =
        "<button id='minus" +
        item +
        "' class='btn btn-primary minus'>-</button> <span id='val" +
        item +
        "''>" +
        cart[item][0] +
        " </span> <button id='plus" +
        item +
        "' class='btn btn-primary plus'>+</button>";
    }
    localStorage.setItem('cart', JSON.stringify(cart));
    document.getElementById('cart').innerHTML = sum
    updatePopover(cart);
  }

  // if plus minus button clicked

  $(".divpr").on("click", "button.minus", function () {
    a = this.id.slice(7);
    cart["pr" + a][0] = cart["pr" + a][0] - 1;
    cart["pr" + a][0] = Math.max(0, cart["pr" + a][0]);
    document.getElementById("valpr" + a).innerHTML = cart["pr" + a][0];
    updateCart(cart);
  });

  $(".divpr").on("click", "button.plus", function () {
    a = this.id.slice(6);
    cart["pr" + a][0] = cart["pr" + a][0] + 1;
    document.getElementById("valpr" + a).innerHTML = cart["pr" + a][0];
    updateCart(cart);
  });

  $("#popcart").popover();
  updatePopover(cart);
  function updatePopover(cart) {
    var popstr = "";
    popstr = popstr + "<h5 class='text-center'>Your Shopping Cart<br><h6>Get some goodies from cakeclub<h6></h5> <div class='mx-2 my-2'>";
    var i = 1;
    for (var item in cart) {
      popstr = popstr + "<b>" + i + "</b>. ";
      popstr =
        popstr +
        document.getElementById("tag" + item).innerHTML +
        "&nbsp;&nbsp;" +
        "Qty: " +
        cart[item][0] +
        "<br>";
      i = i + 1;
    }
    popstr = popstr + "</div>" 
    popstr = popstr + `{% if user.is_authenticated %}<a href='checkout/'> <button class='btn btn-primary' id='checkout'> Checkout </button> </a>
    {% else %}<a href='{% url 'loginpage' %}'> <button class='btn btn-primary' id='checkout'> Checkout </button> </a>{% endif %} <button class='btn btn-primary' onclick='clearCart()' id='clearCart'>Clear Cart</button>`;
    document.getElementById("popcart").setAttribute("data-content", popstr);
    $("#popcart").popover("show");
  }

  function clearCart() {
    cart = JSON.parse(localStorage.getItem('cart'));
    for (var item in cart) {
      document.getElementById("div" + item).innerHTML =
        ' <button id="' +
        item +
        '" class="btn btn-primary cart">Add To Cart</button>';
    }
    localStorage.clear();
    cart = {};
    updateCart(cart);
  }
</script>
<script>
let search = document.getElementById('searchtxt');
search.addEventListener("input", function(){

    let inputVal = search.value.toLowerCase();
    // console.log('Input event fired!', inputVal);
    let noteCards = document.getElementsByClassName('card');
    Array.from(noteCards).forEach(function(element){
        let cardTxt = element.getElementsByTagName("p")[0].innerText;
        if(cardTxt.includes(inputVal)){
            element.style.display = "block";
        }
        else{
            element.style.display = "none";
        }
        // console.log(cardTxt);
    })
})
</script>
{% endblock script %}
{% endblock product %}