{% extends 'base.html' %}
{% load static %}
{% block register %}
<div class="container" style="position:relative;">
  <div class="row justify-content-center" style="position:absolute;">
    <div class="col-md-6">
      <div class="card shadow my-5">
        <h4 class="card-header">Register</h4>
        <div class="card-body">
          <form method="POST" action="{% url 'registerpage' %}">
          {% csrf_token %}
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" id="name" name="name" class="form-control border">
            </div>
            <div class="form-group">
              <label for="name">Contact no</label>
              <input type="text" id="name" name="Phone" class="form-control border">
            </div>
            <div class="form-group">
              <label for="name">Email</label>
              <input type="Email" id="name" name="Email" class="form-control border">
            </div>
            <div class="form-group">
              <label for="name">Password</label>
              <input type="Password" id="name" name="Password" class="form-control border">
            </div>
            <button type="submit" class="btn btn-secondary">Register</button>
          </form>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>
  </div>
</div>
<script href="{% static 'js/register.js' %}"></script>
{% endblock register %}